@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is([data-theme="dark"] *));

:root {
  --card: var(--color-neutral-50);
  --card-foreground: var(--color-neutral-950);
  --popover: var(--color-neutral-50);
  --popover-foreground: var(--color-neutral-950);
  --primary: var(--color-brand-500);
  --primary-foreground: var(--color-brand-50);
  --secondary: var(--color-secondary-500);
  --secondary-foreground: var(--color-secondary-50);
  --muted: var(--color-neutral-500);
  --muted-foreground: var(--color-neutral-600);
  --accent: var(--color-accent-500);
  --accent-foreground: var(--color-accent-50);
  --destructive: var(--color-error-500);
  --destructive-foreground: var(--color-error-50);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-200);
  --ring: var(--color-brand-500);
  --radius: 0.625rem;
  --sidebar: var(--color-neutral-50);
  --sidebar-foreground: var(--color-neutral-700);
  --sidebar-primary: var(--color-brand-500);
  --sidebar-primary-foreground: var(--color-brand-600);
  --sidebar-accent: var(--color-brand-400);
  --sidebar-accent-foreground: var(--color-brand-50);
  --sidebar-border: var(--color-neutral-200);
  --sidebar-ring: var(--color-brand-500);
  --chart-1: var(--color-chart-teal-light);
  --chart-2: var(--color-chart-amber-light);
  --chart-3: var(--color-chart-violet-light);
  --chart-4: var(--color-chart-rose-light);
  --chart-5: var(--color-chart-sky-light);
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
  --card: var(--color-neutral-900);
  --card-foreground: var(--color-neutral-50);
  --popover: var(--color-neutral-900);
  --popover-foreground: var(--color-neutral-50);
  --primary: var(--color-brand-500);
  --primary-foreground: var(--color-brand-50);
  --secondary: var(--color-secondary-800);
  --secondary-foreground: var(--color-secondary-100);
  --muted: var(--color-neutral-300);
  --muted-foreground: var(--color-neutral-300);
  --accent: var(--color-accent-700);
  --accent-foreground: var(--color-accent-50);
  --destructive: var(--color-error-500);
  --destructive-foreground: var(--color-error-50);
  --border: var(--color-neutral-800);
  --input: var(--color-neutral-800);
  --ring: var(--color-brand-300);
  --sidebar: var(--color-neutral-900);
  --sidebar-foreground: var(--color-neutral-50);
  --sidebar-primary: var(--color-brand-500);
  --sidebar-primary-foreground: var(--color-brand-50);
  --sidebar-accent: var(--color-neutral-800);
  --sidebar-accent-foreground: var(--color-neutral-50);
  --sidebar-border: var(--color-neutral-800);
  --sidebar-ring: var(--color-brand-300);
  --chart-1: var(--color-chart-teal-dark);
  --chart-2: var(--color-chart-amber-dark);
  --chart-3: var(--color-chart-violet-dark);
  --chart-4: var(--color-chart-rose-dark);
  --chart-5: var(--color-chart-sky-dark);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --success: var(--color-success-500);
  --success-foreground: var(--color-success-50);
  --warning: var(--color-warning-500);
  --warning-foreground: var(--color-warning-50);

  --color-brand-50: #eaf2fa;
  --color-brand-100: #d6e5f5;
  --color-brand-200: #adcbeb;
  --color-brand-300: #84b1e1;
  --color-brand-400: #5b97d7;
  --color-brand-500: #327dcd;
  --color-brand-600: #2864a4;
  --color-brand-700: #1e4b7b;
  --color-brand-800: #143252;
  --color-brand-900: #0a1929;
  --color-brand-950: #07111d;

  --color-neutral-50: #e3e9ef;
  --color-neutral-100: #d8dee4;
  --color-neutral-200: #c0c6cc;
  --color-neutral-300: #a9afb5;
  --color-neutral-400: #91979d;
  --color-neutral-500: #797f85;
  --color-neutral-600: #62686e;
  --color-neutral-700: #3f454b;
  --color-neutral-800: #33393f;
  --color-neutral-900: #1c2228;
  --color-neutral-950: #151b21;

  --color-secondary-50: #e0e7ff;
  --color-secondary-100: #c7d2fe;
  --color-secondary-200: #a5b4fc;
  --color-secondary-300: #818cf8;
  --color-secondary-400: #6366f1;
  --color-secondary-500: #4f46e5;
  --color-secondary-600: #4338ca;
  --color-secondary-700: #3730a3;
  --color-secondary-800: #1e1b4b;
  --color-secondary-900: #311042;
  --color-secondary-950: #170526;

  --color-accent-50: #f5f3ff;
  --color-accent-100: #ede9fe;
  --color-accent-200: #ddd6fe;
  --color-accent-300: #c4b5fd;
  --color-accent-400: #a78bfa;
  --color-accent-500: #8b5cf6;
  --color-accent-600: #7c3aed;
  --color-accent-700: #6d28d9;
  --color-accent-800: #5b21b6;
  --color-accent-900: #4c1d95;
  --color-accent-950: #2e1065;

  --color-error-50: #fbe9e9;
  --color-error-100: #f7d4d4;
  --color-error-200: #efa9a9;
  --color-error-300: #e77e7e;
  --color-error-400: #df5353;
  --color-error-500: #d72828;
  --color-error-600: #ac2020;
  --color-error-700: #811818;
  --color-error-800: #561010;
  --color-error-900: #2b0808;
  --color-error-950: #1e0606;

  --color-warning-50: #fbf3e9;
  --color-warning-100: #f7e6d4;
  --color-warning-200: #f0cda8;
  --color-warning-300: #e8b47d;
  --color-warning-400: #e09b52;
  --color-warning-500: #d98226;
  --color-warning-600: #ad681f;
  --color-warning-700: #824e17;
  --color-warning-800: #57340f;
  --color-warning-900: #2b1a08;
  --color-warning-950: #1e1205;

  --color-success-50: #ebfbea;
  --color-success-100: #d7f7d4;
  --color-success-200: #b0eeaa;
  --color-success-300: #88e67f;
  --color-success-400: #60dd55;
  --color-success-500: #38d52a;
  --color-success-600: #2daa22;
  --color-success-700: #228019;
  --color-success-800: #175511;
  --color-success-900: #0b2b08;
  --color-success-950: #081e06;

  --color-chart-teal-light: #0e9e8e;
  --color-chart-teal-dark: #3dbfb2;

  --color-chart-amber-light: #c97c10;
  --color-chart-amber-dark: #e09f3a;

  --color-chart-violet-light: #7c4fd4;
  --color-chart-violet-dark: #a87ee8;

  --color-chart-rose-light: #c4366a;
  --color-chart-rose-dark: #e06090;

  --color-chart-sky-light: #0284c7;
  --color-chart-sky-dark: #38a8e8;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
