POSTGRES_HOST=sherpa-db
POSTGRES_PORT=5432
POSTGRES_DB=sherpadb
POSTGRES_USER=cloudsherpa
POSTGRES_PASSWORD=mock_pass
AUTH_JWT_SECRET=mock_secret_32_chars_long_value_123456
AUTH_JWT_EXP_MINUTES=60
SPRING_PROFILES_ACTIVE=dev
DASHBOARD_HOST=http://localhost:3000
INGESTION_BASE_URL=http://localhost:8081
