# These override app configs in apps/ingestion-service/src/main/resources/application.properties
# Default for all network vars is docker network name resolution
# Kafka broker to connect to. 
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SCHEMA_REGISTRY_URL=schema-registry:8081
CLOUD_USAGE_TOPIC=cloud-usage-events