POSTGRES_HOST=analytics-db
POSTGRES_PORT=5432
POSTGRES_DB=analytics
POSTGRES_USER=cloudsherpa
POSTGRES_PASSWORD=mock_pass

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SCHEMA_REGISTRY_URL=http://schema-registry:8081