# URL points to the published host and port for the Service application (localhost:8083)
# when using the compose, ensure not to include trailing slash
NEXT_PUBLIC_API_URL=http://localhost:8083
# Disables/enables next auth during development, this gets short circuited when NEXT_ENV === production though
DISABLE_AUTH=false
